html {
  scroll-behavior: smooth;
}

:root {
  --black: #3c2d40;
  --white: #fefefe;
  --gray: #565656;
  --violetred: #700000;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--gray);
  font-weight: bold;
}

.header_hold {
  width: 100%;
  height: 300px;
}

.header {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
}

.header_title {
  text-align: center;
  font-size: 200px;
  height: 100px;
  margin-top: 10px;
  color: var(--violetred);
  background-color: white;
}

.logo {
  display: block;
  width: 70%;
  height: 850px;
  object-fit: cover;
  object-position: 0% 47%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: var(--gray);
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navlink {
  color: var(--white);
  text-decoration: none;
  padding: 25px 10%;
  margin: -1%;
  font-size: 20px;
  display: block;
}

.navlink:hover {
  background-color: var(--white);
  color: var(--violetred);
}

.navlink:active {
  background-color: var(--white);
  color: var(--violetred);
}

.row {
  display: flex;
}

.column {
  flex: 45%;
  margin: 5%;
  flex-wrap: wrap;
}

.portrait {
  height: 550px;
  width: 700px;
  object-fit: cover;
  object-position: 0 30%;
  float: right;
}

.about_hello {
  color: var(--gray);
  font-size: xx-large;
  float: left;
  margin-top: 20px;
}

.about_content {
  color: var(--gray);
  font-size: medium;
  float: left;
}

.line_header {
  color: var(--violetred);
  border-bottom: solid 2px var(--violetred);
  text-align: center;
  margin-top: -20px;
}

.section_header {
  text-align: center;
  font-size: 150px;
  color: var(--violetred);
  background-color: white;
}

.source {
  color: var(--violetred);
  margin-top: -20px;
}

.list_item {
  font-size: medium;
}

.date {
  margin-top: -20px;
}

.class {
  font-size: larger;
  margin-bottom: -0.1px;
}

.line_header_classes {
  margin-bottom: -50px;
  color: var(--violetred);
  border-bottom: solid 2px var(--violetred);
  text-align: center;
  margin-top: -20px;
}

.git_link {
  border: solid 2px var(--violetred);
  text-decoration: none;
  color: var(--white);
  background-color: var(--violetred);
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.proj-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: 0% 0%;
}

.proj_title {
  color: var(--violetred);
}

.form {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 400px;
}

.label {
  font-weight: bold;
  font-size: medium;
}

.labelr {
  font-size: medium;
  width: 50%;
}

.bold {
  font-weight: bold;
  color: var(--black);
}

.muted {
  color: var(--gray);
  text-align: left;
  margin-top: -20px;
}

.box {
  float: right;
  width: 50%;
}

.button[type="submit"] {
  background-color: var(--black);
  color: var(--white);
  width: 45%;
  height: 40px;
  margin: 10px;
}

.button[type="submit"]:hover {
  background-color: var(--violetred);
  color: var(--white);
}

.text {
  margin: 10px;
}

.button[type="reset"] {
  background-color: var(--white);
  color: var(--black);
  width: 45%;
  height: 40px;
}

.button[type="reset"]:hover {
  background-color: var(--gray);
  color: var(--white);
}

.message_box {
  float: right;
  width: 50%;
  height: 100px;
}
