:root {
  --black: #3c2d40;
  --white: #fefefe;
  --gray: #565656;
  --violetred: #700000;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--gray);
  font-weight: bold;
}

.logo {
  width: 10%;
  height: 10%;
}

.navbar {
  background-color: var(--gray);
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navlink {
  color: var(--white);
  text-decoration: none;
  padding: 25px 10%;
  margin: -1%;
  font-size: 20px;
  display: block;
}

.navlink:hover {
  background-color: var(--white);
  color: var(--violetred);
}

.navlink:active {
  color: var(--orange);
}

.row {
  display: flex;
}

.column {
  flex: 45%;
  margin: 5%;
  flex-wrap: wrap;
}

.portrait {
  height: 800px;
  object-fit: cover;
  object-position: 0 30%;
  float: right;
}

.section_header {
  color: var(--gray);
}

.about_hello {
  color: var(--gray);
  font-size: xx-large;
  float: left;
  vertical-align: middle;
  margin-top: 200px;
}

.about_content {
  color: var(--gray);
  font-size: medium;
  float: left;
}

.line_header {
  color: var(--violetred);
  border-bottom: solid 2px var(--violetred);
  text-align: center;
  margin-top: -20px;
}

.section_header {
  background-color: var(--violetred);
  color: white;
  text-align: center;
}

.source {
  color: var(--violetred);
  margin-top: -20px;
}

.list_item {
  font-size: medium;
}

.date {
  margin-top: -20px;
}

.class {
  font-size: larger;
  margin-bottom: -0.1px;
}

.line_header_classes {
  margin-bottom: -50px;
  color: var(--violetred);
  border-bottom: solid 2px var(--violetred);
  text-align: center;
  margin-top: -20px;
}

.git_link {
  border: solid 2px var(--violetred);
  text-decoration: none;
  color: var(--white);
  background-color: var(--violetred);
  padding: 10px;
}
