html {
  scroll-behavior: smooth;
}

:root {
  --black: #3c2d40;
  --white: #fefefe;
  --gray: #565656;
  --violetred: #700000;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--gray);
  font-weight: bold;
}

.header_hold {
  width: 100%;
  height: 300px;
}

.header {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
}

.header_title {
  text-align: center;
  font-size: 200px;
  height: 100px;
  margin-top: 10px;
  color: var(--violetred);
  background-color: white;
}

.logo {
  display: block;
  width: 70%;
  height: 850px;
  object-fit: cover;
  object-position: 0% 47%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: var(--gray);
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navlink {
  color: var(--white);
  text-decoration: none;
  padding: 25px 10%;
  margin: -1%;
  font-size: 20px;
  display: block;
}

.current {
  color: var(--white);
  text-decoration: none;
  padding: 25px 10%;
  margin: -1%;
  font-size: 20px;
  display: block;
  background-color: var(--white);
  color: var(--violetred);
}

.navlink:hover {
  background-color: var(--white);
  color: var(--violetred);
}

.row {
  display: flex;
}

.column {
  flex: 45%;
  margin: 5%;
  flex-wrap: wrap;
}

.portrait {
  height: 80%;
  width: 100%;
  object-fit: cover;
  object-position: 0 30%;
  float: right;
}

.about_hello {
  color: var(--gray);
  font-size: xx-large;
  float: left;
  margin-top: 5%;
}

.about_content {
  color: var(--gray);
  font-size: medium;
  float: left;
}

.line_header {
  color: var(--violetred);
  border-bottom: solid 2px var(--violetred);
  text-align: center;
  margin-top: -20px;
}

.section_header {
  text-align: center;
  font-size: 150px;
  color: var(--violetred);
  background-color: white;
}

.source {
  color: var(--violetred);
  margin-top: -20px;
}

.list_item {
  font-size: medium;
}

.date {
  margin-top: -20px;
}

.class {
  font-size: larger;
  margin-bottom: -0.1px;
}

.line_header_classes {
  margin-bottom: -5%;
  color: var(--violetred);
  border-bottom: solid 2px var(--violetred);
  text-align: center;
}

.git_link {
  border: solid 2px var(--violetred);
  text-decoration: none;
  color: var(--white);
  background-color: var(--violetred);
  padding: 2%;
  display: block;
  margin: 2%;
  text-align: center;
  width: 90%;
}

.proj-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: 0% 0%;
}

.proj_title {
  color: var(--violetred);
}

.form {
  background-color: var(--violetred);
}

.label {
  font-weight: bold;
  font-size: 30px;
  color: var(--white);
}

.bold {
  font-weight: bold;
  color: var(--black);
}

.muted {
  color: var(--gray);
  text-align: left;
  margin-top: -20px;
}

.box {
  float: right;
  width: 80%;
  height: 30px;
}

.message_box {
  float: right;
  width: 80%;
  height: 150px;
  resize: none;
}

.button[type="submit"] {
  display: block;
  background-color: var(--violetred);
  color: var(--white);
  width: 100%;
  height: 50px;
  font-size: 30px;
  border: solid 1px var(--white);
  margin: auto;
  transition: all 0.25s ease;
}

.button[type="submit"]:hover {
  background-color: var(--white);
  color: var(--violetred);
}

.text {
  margin: 10px;
}

.textarea {
  margin: 10px;
  margin-bottom: 10%;
}

.form_row {
  display: flex;
  background-color: var(--violetred);
}

.social {
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 25%;
  width: 100%;
}

@media (max-width: 1500px) {
  .header {
    position: relative;
  }
  .header_title {
    font-size: 300%;
    text-align: center;
    margin-bottom: 0;
  }
  .header_hold {
    height: 0px;
    width: 0px;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  .navbar {
    flex-direction: column;
  }
  .row {
    display: grid;
  }
  .column {
    display: grid;
  }
  .section_header {
    font-size: 300%;
  }
  .social {
    flex-wrap: wrap;
  }
  .box {
    float: none;
    width: 100%;
    height: 30px;
  }
  .message_box {
    float: none;
    width: 100%;
    height: 150px;
    resize: none;
  }
}
